<div class="row host">
  <div class="add-btn mb-4">
    <a routerLink="/home/addcategorie" class="btn"
      style="background-color: #005a81; color: #FFFFFF ;font-weight: bold;">Ajouter nouveau categorie</a>
  </div>
  <div *ngIf="numberOfCats == 0 ; else show">
    <h2 class="text-center">Aucune donnée disponible</h2>
  </div>
  <ng-template #show>
    <table>
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Discription</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of listeCategs">
          <td data-label="Titre"> {{cat.titreCategorie}} </td>
          <td data-label="Discription"> {{cat.descriptionCategorie}} </td>

          <td data-label="Action">
            <div>
              <button class="btn btn-sm me-2" [routerLink]="['/home/updatecategorie', cat.idCategorie]"
                style="background-color: #005a81; color: #FFF;"><i class="fas fa-pen"></i></button>
              <!-- <button class="btn btn-sm me-2" (click)="deletCategorie(cat)" style="background-color: #FF3B3F; color: #FFF;"><i class="fas fa-times fa-lg"></i></button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </ng-template>
</div>