<div class="row mb-3 host">
    <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="mb-sm-0 font-size-18">Dashboard</h4>

      </div>
    </div>
</div>
  
  <div class="row host">
    <div class="col-xl-3 col-md-6">

      <div class="block mb-2">

        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span class="text-muted mb-3 lh-1 d-block text-truncate">Administrateurs</span>

              <div class="d-flex justify-content-between">
                <h4 class="mt-3">
                  <span class="counter-value"> {{totalAdmins}} </span>
                </h4>

                <div>
                  <i class="fas fa-user-shield fa-3x"></i>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="block mb-2">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12">
              <span class="text-muted mb-3 lh-1 d-block text-truncate">Condidats</span>

              <div class="d-flex justify-content-between">
                <h4 class="mt-3">
                  <span class="counter-value">{{totalCondidats}}</span>
                </h4>

                <div>
                  <i class="fas fa-user fa-3x"></i>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="block mb-2">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12">
              <span class="text-muted mb-3 lh-1 d-block text-truncate">Entreprises</span>

              <div class="d-flex justify-content-between">
                <h4 class="mt-3">
                  <span class="counter-value">{{totalEnt}}</span>
                </h4>

                <div>
                  <i class="fas fa-building fa-3x"></i>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="block mb-2">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12">
              <span class="text-muted mb-3 lh-1 d-block text-truncate">Offres d'emploi</span>

              <div class="d-flex justify-content-between">
                <h4 class="mt-3">
                  <span class="counter-value">{{totalOffres}}</span>
                </h4>

                <div>
                  <i class="fas fa-briefcase fa-3x"></i>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row host">
    <div class="col-xl-3 col-md-6">
      <div class="block mb-2">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12">
              <span class="text-muted mb-3 lh-1 d-block text-truncate">Categories</span>

              <div class="d-flex justify-content-between">
                <h4 class="mt-3">
                  <span> {{totalCategories}} </span>
                </h4>

                <div>
                  <i class="fas fa-list fa-3x"></i>
                </div>
              </div>

            </div>

          </div>
        </div><!-- end card body -->
      </div><!-- end card -->
    </div><!-- end col -->
  </div>

